[project]
	description = Simple test for git (using gitlolite source code)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/stmtstia
[access "refs/for/refs/*"]
	read = group user/stmtstia
	push = group user/stmtstia
	label-Code-Review = -2..+2 group user/stmtstia
	label-Verified = -1..+1 group user/stmtstia
	rebase = group user/stmtstia
	removeReviewer = group user/stmtstia
	submit = group user/stmtstia
[access "refs/heads/*"]
	read = group user/stmtstia
	create = group user/stmtstia
	push = +force group user/stmtstia
	pushMerge = group user/stmtstia
[access "refs/tags/*"]
	push = +force group user/stmtstia
	pushTag = group user/stmtstia
	pushSignedTag = group user/stmtstia
